<p>Profile</p>

{% if name %}
    <p>Your name is {{ name }}</p>
    <form action="{{ server_url }}/api/editname" method="post" id="myForm">
        <label for="name">You can edit your name here</label>  
        <p><input id="name" name="name" value="" placeholder="Input your new name"></p>
        <p><input type="submit" value="Submit form"></p>
        
      </form>
    
{% endif %}

<button><a href='/api/logout'>Log out</a></button>


<script>
    window.addEventListener( "load", function () {
    function sendData() {
      var data = {};
      for (var i = 0, ii = form.length; i < ii; ++i) {
        var input = form[i];
        if (input.name) {
          data[input.name] = input.value;
        }
      }

      var xhr = new XMLHttpRequest();
      xhr.open(form.method, form.action, true);
      xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');

      xhr.send(JSON.stringify(data));

      xhr.onreadystatechange = function()
      {
          if (xhr.readyState == 4 && xhr.status == 200)
          {
            location.reload()
          } else{
            alert(xhr.responseText)
          }
      }

    }
    const form = document.getElementById( "myForm" );
  
    form.addEventListener( "submit", function ( event ) {
      event.preventDefault();
  
      sendData();
    } );
  } );
</script>


 