 <script>
        // Get the value of "some_key" in eg "https://example.com/?some_key=some_value"
        let token = location.pathname.split('/')[2]

        var url = `${location.origin}/dashboard`;

        var xhr = new XMLHttpRequest();
        xhr.open("GET", url);

        xhr.setRequestHeader("Accept", "application/json");
        xhr.setRequestHeader("Authorization", `Bearer ${token}`);

        // xhr.onreadystatechange = function () {
        // if (xhr.readyState === 4) {
        //     console.log(xhr.status);
        //     console.log(xhr.responseText);
        // }};

        xhr.send();
</script>
