<!DOCTYPE html>
<head>
    <style>
    td {
            
    border: 1px #aaa solid;
    padding: 1rem;
    text-align: center;
    }
    </style>
</head>
<p>User DB Dashboard</p>

<h4><b>User list</b></h4>

<table>
    <tr>
        <td>UserID</td>
        <td>Sign up timestamp</td>
        <td>Number of times logged in</td>
        <td>Last session timestamp</td>
    </tr>
    {% for user in users %}
        <tr>
            <td>{{ user["userid"] }}</td>
            <td>{{ user["signuptime"] }}</td>
            <td>{{ user["logintimes"] }}</td>
            <td>{{ user["lastlogin"] }}</td>
        </tr>
    {% endfor %}
</table>

<table>
    <tr>
        <td>Signed up counts</td>
        <td>Active sessions today</td>
        <td>Avg of active sessions last 7 days rolling</td>
    </tr>
        <tr>
            <td>{{ signup_count }}</td>
            <td>{{ today_session }}</td>
            <td>{{ avg_per_day }}</td>
        </tr>
</table>